@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStore

<PageTitle>Index</PageTitle>
@if(x){
    <h1>Hello You Are an Admin</h1>

}
else{
    <h1>Hello you Are an user</h1>
}


@code{
    bool x;
    protected override async Task OnInitializedAsync()
    {
         x = await isAdmin();
    }
    private async Task<bool> isAdmin(){
        var role = await localStore.GetItemAsync<string>("role");
        if (role == "Admin")
            return true;
        else
            return false;


    }
}
