@page "/login"
@inject Blazored.LocalStorage.ILocalStorageService localStore
<h3>Login</h3>
@inherits LoginBase
<EditForm Model="@userLoginDto" OnSubmit="HandleLogin">
    <div class="form-group">
    <label for="username">UserName</label>
        <InputText @bind-Value="userLoginDto.UserName" class="form-control"></InputText>
    </div>
    <div class="form-group">
    <label for="password">Password</label>
        <InputText @bind-Value="userLoginDto.Password" type="password" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    //public void HandleLogin(){
    //    Console.WriteLine("Log me in");
    //}
}
